// Colors
$color-grey-1:#777;
$color-grey-2:#f7f7f7;
$color-grey-3:#ccc;
$color-grey-dark:#333;
$color-blue:#2F5572;
$color-blue-light:#005196;
$color-white:#fff;
$color-black:#000;
$color-orange:#d59541;
$color-green:#28a745;


//Font Family
$font-faily: "Roboto", sans-serif ;
