.feature{
display: flex;
justify-content: center;
align-items: baseline;
margin: 4.98rem 0rem;

@include respond (iPhone-se){
  flex-direction: column;
  align-items: center;
}

&__img{
 font-size: 6rem; 
 margin-right: 2rem;  
 position: relative;

 
 
 &--box{
     top: 4rem;
     left: 4rem;

     @include respond (iPhone-se){
     top: 0;
     left: 0;
    }
 }
}

&__title{
  font-size: 6rem;  
  font-weight: 300;

  @include respond (iPhone-se){
    font-size: 10rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
}
}

.feature-box{
    width: 50%;
    margin: 0 40px;
    margin-bottom: 50px;

    @include respond (iPhone-se){
      width: 100%;
      padding: 5rem;
    }
    
    &__heading{
    font-size: 3rem;    
    font-weight: 300;
    margin-bottom: 1.28rem;

    @include respond (iPhone-se){
      text-align: center;
      font-size: 6.5rem;
    }
    }

    &__text{
    font-size: 1.8rem;    
    line-height: 2.97rem;
    text-align: justify;
    font-weight: 300;

    @include respond (iPhone-se){
      font-size: 5rem;
      text-align: justify;
      line-height: 1.2;
    }
    }
}