.testomonial-ibox{
    margin-right: 2rem;
    margin-bottom: 5rem;

    @include respond (iPhone-se){
      margin: 0 auto;
      width: 17rem;
    }
}

.testomonials-card{
width: 32%;    
text-align: center;
background: $color-white;
height: 54vh;
padding: 0.1rem 2.9rem;
opacity: .9;
border-radius: .4rem;
position: relative;

@include respond (iPhone-se){
  width: 100%;
  margin-bottom: 20rem;
  height: 75vh;
}



 &__content{
 top: -9rem;    
 position: absolute;
 padding: .8rem;
 }

 &__img{
     border-radius: 20rem;
     border: solid .5rem $color-white;
     width: 50%;


     @include respond (iPhone-se){
      border-radius: 40rem;
    }

    
 }

 


 &__heading{
    font-size: 2.4rem;  
    color: $color-blue;

    @include respond (iPhone-se){
      font-size: 6rem;
    }

    &--orange{
      font-size: 1.6rem;   
      color: $color-orange;
      font-weight: 400;
      margin-bottom: 1rem;

      @include respond (iPhone-se){
      font-size: 3.6rem;
      font-weight: 500;
      }
    }
 }

  &__paragraph{
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 2.97rem;

      @include respond (iPhone-se){
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
      }
      
  }
}