.section-features{
background: $color-blue;    
color: $color-white;
padding: 7.2rem 0;
}

.section-testimonials{
padding: 7.2rem 0;    
background: url(/assets/images/testimonials-bg.jpg);
background-size: cover;
background-position: center;
}